body {
    background-color:#363538;
    color:white;
    font-family: "Trebuchet MS";
}

h1:before {
    content:"►";
    margin-right: 1%;
}

h1 {
    font-weight: bold;
    font-size: 100%;
    margin-top: 3%;
}

div {
    font-size: 80%;
    margin-left: 4%;
}

#log {
    position: fixed;
    left: 80%;
    font-size: 100%;
    padding: 1%;
    border-color: white;
    border-style: groove;
    border-width: 1px;
    color: green;
}

.warn {
    color: yellow;
    font-weight: bold;
}

.warn:before {
    content: "• ";
}

.error {
    color: red;
    font-weight: bold;
}

.error:before {
    content: "~ ";
}

.log:before {
    content:"> ";
}