body {
    background-color:#363538;
    color:white;
    font-family: "Trebuchet MS";
}

h1:before {
    content:"►";
    margin-right: 1%;
}

h1 {
    font-weight: bold;
    font-size: 100%;
    margin-top: 3%;
}

div {
    font-size: 80%;
    margin-left: 4%;
}

#console {
    position: fixed;
    right: 10%;
    font-size: 130%;
    padding: 1%;
    border-color: white;
    border-style: groove;
    border-width: 1px;
    width:20%;
    height: 50%;
}

#consoleinput {
    margin-top: 10%;
    width:90%;
    position: absolute;
    bottom: 1%;
}

.warn {
    color: yellow;
    font-weight: bold;
    margin-top: 5px;
    border-top-style: dashed;
    border-top-width: 0.5px;
    border-top-color: white;
    display: block;

}

.warn:before {
    content: "• ";
}

.log:before {
    content:'> ';
}

.error {
    color: red;
}

.error:before {
    content:"ₓ ";
}