body {
    background-color:#363538;
    color:white;
    font-family: "Trebuchet MS";
}

h1:before {
    content:"►";
    margin-right: 1%;
}

h1 {
    font-weight: bold;
    font-size: 100%;
}

div {
    font-size: 80%;
}
